<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Getting Started with Angular</title>
  <link rel="stylesheet" href="prism.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1> Getting Started with Angular </h1>

  <p>
    AngularJS is a Front-End framework that applies the Model-View-Controller (MVC) architecture to Client-side development. AngularJS works by declaring an Angular Module in your HTML and JavaScript files, you then put your website's Front-End logic inside methods of that angular module. The module is just the place where you put all your Angular code. AngularJS has two-way binding, meaning that changes the user makes to inputs on the website will automatically and instantaneously be transmitted to Angular’s model and any changes made to that data in the JavaScript logic can be instantly reflected back in the view.
  </p>
  <p>
    AngularJS is used for making Single Page Applications (SPA), meaning that instead of calling back to the server to load up a new page we simply switch out the html template we are displaying to the user. This is done all in the browser by using Angular’s routing on the client instead of doing the routing on the server. Single Page Applications result in faster web sites that never have to load up or refresh pages, creating a more responsive user experience.
  </p>

  <br>

  <h3> Model </h3>
  <p class="sub-section">
    The Model is the data store which is used to pass data between the JavaScript logic and the HTML templates. The way to do this is by using Angular’s built-in $scope object. Angular uses two-way data binding so you pass data not just from the JavaScript code to the HTML but also from HTML to the JavaScript, and this is all done automatically thanks to Angular.
  </p>

  <h3> View </h3>
  <p class="sub-section">
    The View refers to what is displayed to the user, specifically the HTML templates that combine both HTML code and Angular directives used to interact with the JavaScript code base.
  </p>

  <h3> Controller </h3>
  <p class="sub-section">
    The Controllers hold the logic that you code in JavaScript to handle the functionality associated with each user action in any given View.
  </p>
  <br>
  <p>
    Let’s jump right in to building a simple To-Do List web app to learn the basics of how AngularJS works!
  </p>



  <p> <h2> Setup </h2> </p>

  <p>
    Let’s start out by setting up our project directory. Go into your filesystem and make a new folder for our project, let’s call it AngularTodo. Inside that folder make four files:
    <div class="indent">
      <em><strong>
        index.html<br>
        routes.js<br>
        listService.js<br>
        styles.css<br>
      </strong></em>
    </div>
  </p>
  <p>
    Now we will make two folders to hold the view template and controller associated with each of the two pages we will display to the user. We'll name these two folders 'home' and 'list', which will display the page of all the to-do lists and the page for each to-do list, respectively. In each folder we will make an HTML file and JavaScript file to act as the view and controller for each webpage. The final directory structure will look like this:
    <div class="indent">
      <em><strong>
        AngularTodo/<br>
        ...index.html<br>
        ...routes.js<br>
        ...listService.js<br>
        ...styles.css<br>
        ...home/<br>
        ......home.html<br>
        ......homeController.js<br>
        ...list/<br>
        ......list.html<br>
        ......listController.js<br>
      </strong></em>
    </div>
  </p>

  <p>
    Let’s quickly go over what each of the files in our project will be used for before we start diving in to building the web app.
  </p>

  <dl>
    <dt>index.html:</dt>
    <dd>
      Our index.html file will just have our HTML boilerplate code and will connect our views to our AngularJS code. Any HTML we want to show on every page will go here, for example a navbar might normally go in here, but in this instance we won't have any actual content on this page.
    </dd>

    <dt>routes.js:</dt>
    <dd>
      The routes.js file will handle our client-side routing between the two views we will be showing the user.
    </dd>

    <dt>listService.js:</dt>
    <dd>
      The listService.js file will hold a custom Angular Service we will build to store data outside of our two controllers, and therefore can be accessed by both controllers.
    </dd>

    <dt>styles.css:</dt>
    <dd>
      The styles.css will be our stylesheet to give the views a little bit of styling.
    </dd>

    <dt>home.html:</dt>
    <dd>
      The view that shows all the user's to-do lists.
    </dd>

    <dt>homeController.js:</dt>
    <dd>
      The controller which handles the logic for the home view.
    </dd>

    <dt>list.html:</dt>
    <dd>
      The view that shows all the items in a given to-do list.
    </dd>

    <dt>listController.js:</dt>
    <dd>
      The controller which handles the logic for the list view.
    </dd>
    <br>

    <p>
      This is a Single Page Application, which means we will be routing between the two templates instead of calling back to the server to switch pages. The home.html file will be the view that is displayed to the user when they first come to the website. In this view we will allow the user to create and delete lists. By clicking on the title of a created list we will redirect the user to the list.html view from which they can add and delete items from the list.
    </p>

    <p>
      While creating this app you should be running it in the browser to see your progress. To do this go to your project directory in the terminal and run it on the localhost with python by running the command line command:
    </p>
    <p class="sub-section">
      <em><strong>python -m SimpleHTTPServer</strong></em>
    </p>
    <p>
      Then in your browser type localhost:8000 into the url path.
    </p>



  <p> <h2> HTML Boilerplate and Connecting Views to AngularJS </h2> </p>

  <p>
    Open up the index.html file and let’s fill it with the basic HTML tags:
  </p>

  <pre><code class="language-markup">
&lt!DOCTYPE html>
&lthtml>
  &lthead>
    &lttitle> To-do List &lt/title>
  &lt/head>
  &ltbody>
  &lt/body>
&lt/html>
  </code></pre>

  <p>
    Now lets connect this entry point for the application with the third party Angular files we need as well as our JavaScript and CSS files. Add the links to these files so that index.html now looks like this:
  </p>

  <pre><code class="language-markup">
&lt!DOCTYPE html>
&lthtml>
  &lthead>
    &lttitle> To-do List &lt/title>
    &ltlink rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    &ltlink rel="stylesheet" type="text/css" href="styles.css">
  &lt/head>
  &ltbody>

    &ltscript src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular.js">&lt/script>
    &ltscript src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js">&lt/script>
    &ltscript src="routes.js">&lt/script>
    &ltscript src="listService.js">&lt/script>
    &ltscript src="home/homeController.js">&lt/script>
    &ltscript src="list/listController.js">&lt/script>
  &lt/body>
&lt/html>
  </code></pre>

  <p>
    In order, these lines are including the font-awesome cdn which we will use to get our back button in the list.html page, including our stylesheet, loading AngularJS, loading Angular UI-Router, loading our routes.js file, and then loading our two controllers. The AngularJS cdn must be loaded before the Angular UI-Router cdn, which must be loaded before our routes.js file that uses the UI-Router. Our controllers must be loaded after routes.js because routes.js is where we will actually create our Angular module, then our controllers will just use that module. Our controllers must also be loaded after the listService.js file because both controllers use the service we will create inside that file. If you load these files out of order your code will break.
  </p>

  <p>
    In the opening body tag we will connect our HTML to the AngularJS part of our app using the ng-app directive and giving it the name of our Angular module we will be using. Angular directives are basically attributes added to elements in the DOM which attach behaviors to that element.  Note that all Angular directives begin with “ng-“. We are connecting our Angular module to the entire body of our app in this case. You can put ng-app either in the body tag or in the html tag. Later we will create this module in routes.js, and use it in our two controllers. The Angular module is where you put all your AngularJS code. Change the opening body tag to this:
  </p>

  <pre><code class="language-markup">
&ltbody ng-app="todo">
  </code></pre>

  <p>
    Now between the body tags we will just add one line of HTML:<br>
  </p>

  <pre><code class="language-markup">
&ltdiv ui-view>&lt/div>
  </code></pre>

  <p>
    The ui-view connects the templates that make up our Angular views to this base HTML document. It is part of Angular UI-Router, now all files that we route through our router will be loaded into our index.html page inside of this div tag, which is what makes our app a Single Page Application - we load index.html once and all our templates our just swapped in and out of this div tag. Our index.html file is now done.
  </p>

  <p>
    <a href="https://raw.githubusercontent.com/theCodeBear/Angular-Article-Todo-List-Project/master/styles.css" download><strong>Download the CSS file for this project here so that we add in a bit of styling.</strong></a>
  </p>
  <br>



  <h2> Setting Up Our Angular Module, Routing, and Controller </h2>

  <p>
    Go to the routes.js folder and let’s set up our routing between our two views.<br>

    First we create our Angular module. Remember we called our module “todo” by adding the ng-app=“todo” directive to our <body> tag. The syntax for creating an Angular module is:<br>
  </p>

  <p class="sub-section"><em>
    angular.module(‘moduleName’, [an array of angular modules this module depends upon])</em>
  </p>

  <p>
    So to create our ‘todo’ module, on the first line of routes.js write this code:
  </p>

  <pre><code class="language-javascript">
angular.module('todo', ['ui.router'])
  </code></pre>

  <p>
    We have now connected our HTML views for the app to our Angular code through the use of this module. We included one dependency for our ‘todo’ module, the 'ui.router', which comes from the angular ui-router file we loaded into our app in the index.html file. We need this in order to do the client-side routing.
  </p>

  <p>
    Now below that first line add these lines:
  </p>

  <pre><code class="language-javascript">
.config(['$urlRouterProvider', '$stateProvider', function($urlRouterProvider, $stateProvider) {

  $urlRouterProvider.otherwise('/');

  $stateProvider

  .state('home', {
    url: '/',
    templateUrl: 'home/home.html',
    controller: 'listOfTodos'
  })

  .state('list', {
    url: '/list/:title',
    templateUrl: 'list/list.html',
    controller: 'eachTodo'
  });

}]);
  </code></pre>

  <p>
    The 'ui.router' dependency provides us with the $urlRouterProvider and $stateProvider Angular services, which are the specific tools we use to do the routing. We put this routing in the config() method of our module. The config() method takes an array including strings of the two services you are using and then function that handles the routing.
  </p>

  <p>
    Inside the function we call the $urlRouterProvider and call its otherwise() method which tells our app what url to route the browser to when the user types in a url that doesn't match any of the url listed below in the router. Below that we define the actual routes using the $stateProvider service. For each route we specify a state name, a url, the HTML file we load up as the view for that url, and the controller to associate with that view.
  </p>

  <p>
    The first route goes to the root of our url path by simply directing the user to '/'. We then specify that the template we will be showing to the user for the '/' url is the home.html file. Finally we specify the Angular controller to be used, which we will create below and it will be called ‘listOfTodos’.
  </p>

  <p>
    The other route we use brings the user to the list.html template. The ‘eachTodo’ controller will be used to handle the logic. But note that we have something interesting in our url path here. Our url path is '/list/:title'. Here we are passing a value to the associated controller through the url. '/:nameOfValue' is the way you can pass arguments through the Angular router. The value must be a string and it will show up in the browser’s url.
  </p>

  <p>
    Notice above that we didn’t close that first line in the file with a semi-colon. That is because we continued that line by chaining the config() method onto the end of the module declaration. We could have instead assigned the module to a variable:
  </p>
  <div class="indent">
    <em>var app = angular.module(…);</em>
  </div>
  <p>
    And then called config() like so:
  </p>
  <div class="indent">
    <em>app.config(…);</em>
  </div>
  <br>

  <p>
    The routing for our app is now setup.
  </p>

  <p>
    We’ll quickly declare our two controllers before creating our two views.
  </p>

  <p>
    In the homeController.js file add the following code to create the 'listOfTodos' controller:
  </p>

  <pre><code class="language-javascript">
angular.module('todo')
.controller('listOfTodos', ['$scope', '$location', '$rootScope', 'ListService',
function($scope, $location, $rootScope, ListService) {

}]);
  </code></pre>

  <p>
    In the listController.js file add the following code to create the 'eachTodo' controller:
  </p>

  <pre><code class="language-javascript">
angular.module('todo')
.controller('eachTodo', ['$scope', '$stateParams', '$rootScope', '$state', 'ListService',
function($scope, $stateParams, $rootScope, $state, ListService) {

}]);
  </code></pre>

  <p>
    Here we are using our ‘todo’ angular module. Because we already set the dependencies for this module in the routes.js file we don’t need to include the dependencies array on the angular.module() line of code.
  </p>

  <p>
    We then create two controllers to handle all the logic for our user’s actions in the app by calling the controller() method twice on our module and giving the controllers the name ‘listOfTodos’ and ‘eachTodo’. We then put all of the Angular services we will be using in these controllers as string elements in an array, and the last element is the function in which we will put all our controller logic. We will leave the controllers empty for now and come back to it after we have made our views. But note that the reason we declare things in an array inside these angular.module methods is because Angular requires this for uglification. If you aren’t uglifying the code then you don’t need that array and you can just put this:
  </p>

  <pre><code class="language-javascript">
.controller("listOfTodos", function($scope, $location, $stateParams, ListService) {       });
  </code></pre>

  <p>
    ListService is a custom service which we will define later. Custom Angular services allow sharing of data between controllers, so we will use it to share our object of lists between the two controllers.
  </p>



  <h2> Creating our Views </h2>

  <h3> home.html: </h3>

  <p>
    Our home.html file will just have an input box with a button that lets the user type in the name of a to-do list and create it. Each list title that exists will be displayed on this page. Each list can be clicked on to bring the user to the list.html view in which they can add items to that list. There is also an “x” button with each list in order to delete that list. We will create an unordered list that will display our list of to-do lists.
  </p>

  <p>
    Go into our home.html file and add our input textbox and button used to create lists:
  </p>

  <pre><code class="language-markup">
&ltdiv class="form">
  &ltinput type="text" id="todoTitle" class="inputs" placeholder="Todo list title" autofocus>
  &ltbutton class="inputButton"> + &lt/button>
&lt/div>

&ltbr>&ltbr>

&ltul class="lists">
  &ltli>
    &ltspan class="item clickable">&lt/span>
    &ltbutton id="deleteList">x&lt/button>
  &lt/li>
&lt/ul>
  </code></pre>

  <p>
    We have now created our home.html file, except we haven’t included any of our Angular directives which pass data and functionality between our controller and this view. First we will fill out our list.html file so that our views will be all done except including the Angular directives we need.
  </p>
  <br>

  <h3> list.html: </h3>

  <p>
    Go to our empty list.html file and add the following code:
  </p>

  <pre><code class="language-markup">
&ltdiv class="form">
  &ltinput type="text" id="todoItem" class="inputs" placeholder="Add an Item" autofocus>
  &ltbutton class="inputButton"> + &lt/button>
&lt/div>

&ltbr>&ltbr>

&ltul class="lists">
  &ltli>
    &ltspan class="item">&lt/span>
    &ltbutton>x&lt/button>
  &lt/li>
&lt/ul>
  </code></pre>

  <p>
    Okay, now our views are set up and it is time to do all the Angular controller logic and put the appropriate angular directives in our two views, as well as create our custom Angular Service.
  </p>



  <h2> Creating an Angular Service </h2>

  <p>
    Custom Services in Angular are used to store data outside of the controllers and outside the $scope object which are local to each controller. By creating our own service we can store data that can be accessed by any controller in our app. We will create a service that will hold an object that will store our to-do lists and have get and set methods to retrieve and alter the lists. The service will allow us to move between the two pages of the app without losing data, as long as we don’t refresh any of the pages. Since we aren’t using a database of any kind if we refresh the page we will lose our data. In listService.js, we will create our custom Angular Service called ListService:
  </p>

  <pre><code class="language-javascript">
angular.module('todo')

.service('ListService', function() {
  this.list = {};
  this.getList = function() { return this.list; };
  this.saveList = function(list) { this.list = list; };
});
  </code></pre>

  <p>
    Here we create a service called ListService and associate an object called list with it using this.list, which is initialized to an empty object because when the app starts all the lists will be empty. We then create two methods for our service. The first is called getList which returns the list so that our controllers can access the Service’s list object. The second is saveList which allows us to edit the lists from our controllers when the user makes a change in the lists.
  </p>



  <h2> Controller Logic for home.html </h2>

  <p>
    Time to open up homeController.js and start writing code in the “listOfTodos” controller we created earlier.
  </p>

  <p>
    First off lets give focus to our view’s input textbox when the user first opens the app. When a view is displayed the controller associated with that view is loaded up, so by putting this as the first line in the controller the focus will always initially be on the textbox in this view:
  </p>

  <pre><code class="language-javascript">
document.getElementsByTagName("input")[0].focus();
  </code></pre>

  <p>
    Next we initialize a $scope variable with the lists object we just created in the Service, which is currently just an empty list. $scope is a built-in Angular Service. The functionality of $scope is that it is Angular’s Model and it also has two-way binding which means it acts as the glue between the view and the controller. You can create a variable on $scope in the controller and then display it in a view or create one by directly binding it in the view to an element in the DOM and then access it elsewhere in the that view and access it in code back in the controller.
  </p>

  <p>
    Any property that is added to the $scope object can be used anywhere within the current controller as well as displayed in the associated view. Type this as the second line of code in the controller:
  </p>

  <pre><code class="language-javascript">
$scope.lists = ListService.getList();
  </code></pre>

  <p>
    Now we will create methods on the $scope object and connect them to the home.html view in order to allow the user to create lists, delete lists, and click on a list to pull it up in the list.html view.
  </p>

  <p>
    First we will make it so the user can create lists. Go to home.html and we will add two Angular directives. All Angular directives have the form: “ng-“. We will add directives to each of the two elements in the &ltdiv> that has our input box and button. In the input tag add the ng-model directive ng-model=“viewTitle”. The ng-model directive creates a variable on the $scope object with the name you gave it, viewTitle, and automatically binds it to that input box. So the value of $scope.viewTitle will change in realtime based on what the user types into the input box, and we can access $scope.viewTitle in the controller. The input tag now looks like this:
  </p>

  <pre><code class="language-markup">
&ltinput type="text" id="todoTitle" class="inputs" ng-model="viewTitle" placeholder="Todo List Title">
  </code></pre>

  <p>
    Now we add an ng-click directive to the button on the next line. This is Angular’s way to call a method from the controller, called $scope.createList(), when the user clicks on an element in a view. The button element now looks like this:
  </p>

  <pre><code class="language-markup">
&ltbutton type="button" class="inputButton" ng-click="createList()"> + &lt/button>
  </code></pre>

  <p>
    Now let’s define the createList() function in our listOfTodos controller to allow the user to create lists. Put this code in the controller in homeController.js:
  </p>

  <pre><code class="language-markup">
1.  $scope.createList = function() {
2.    if (!!$scope.viewTitle !== false) {
3.      $scope.lists[$scope.viewTitle] = [];
4.      $scope.viewTitle = "";
    }
5.    document.getElementById("todoTitle").focus();
6.    ListService.saveList($scope.lists);
  };
  </code></pre>

  <p>
    I've added line numbers to the above code so that we can go through these lines one by one:
  </p>

  <p>
    <ol>
      <li>
        We define the createList method of the $scope object and set it equal to an anonymous function.
      </li>
      <li>
        Asking if the value of $scope.viewTitle doesn’t evaluate to false. The !! just turns value of $scope.viewTitle
        into an actual true or false boolean value. This line is just asking if the user has typed anything into the
        input box, if they have typed something when they press the button to create a to-do list then we want to
        add the name of their list to our data object that contains all the lists, otherwise we don’t do anything.
      </li>
      <li>
        This is where we create the structure of our data object to hold the user’s lists. Before any lists have been
        created we initialized $scope.lists to the empty lists hash. Here we create new key-value pairs in
        $scope.lists in which they key is the title of the list the user has put in the textbox, and we initialized the
        value to an empty array, which will eventual hold all the tasks the user adds to this list.
      </li>
      <li>
        After the user clicks the button to add the list we want the to clear the input box, which is what we do here.
      </li>
      <li>
        We are now out of the if-block. No matter if there is anything in the input box or not, we always want the
        focus to return to that box after the user has clicked to create a list. So this line just returns the focus to
        the input.
      </li>
      <li>
        We are using the ListService service here to hold our data when we switch between controllers. We call the method on that service that saves our new list object to the service.
      </li>
    </ol>
  </p>

  <p>
    Displaying the list of to-do lists:
  </p>

  <p>
    Go to home.html and inside the opening &ltli> tag add the ng-repeat directive which acts as a for-in loop for collections on the $scope object. Since we are using a hash to store our lists we can get both the key and value for each pair in our $scope.lists object. Edit the &ltli> tag:
  </p>

  <pre><code class="language-markup">
&ltli ng-repeat="(key, value) in lists)">
  </code></pre>

  <p>
    This will create an &ltli> tag for each item in our $scope.lists object. Note that in the view we don’t have to specify that it is part of the $scope service because only $scope variables can be used between the controller and the view in this way. We now need to display the title of each to-do list as well as how many items are left to do in each to-do list. Edit the span tag to look like this:
  </p>

  <pre><code class="language-markup">
&ltspan class="item clickable" ng-click="gotoList(key)"> {{ key }} ({{ value.length }}) &lt/span>
  </code></pre>

  <p>
    Here we added ng-click which will call the $scope.gotoList() function when the user clicks on a list. We are passing the key, which is the title of that list, to the function. This function will then display the view for that specific list. Note the {{ key }}, using two squiggly braces with an Angular value in between them is the way you display a $scope value in a view. In this case it is displaying the key (the title) of each to-do list. We then wrote ({{ value.length }}) which will display how many items are left in each to-do list, surrounded by parentheses. When each list is created it will be an empty list so the number displayed will always be zero until the user adds items.
  </p>

  <p>
    Now let’s go to homeController.js to write the gotoList() function:
  </p>

  <pre><code class="language-javascript">
$scope.gotoList = function(title) {
  $rootScope.home = 'home';
  $location.path("/list/" + title);
};
  </code></pre>

  <p>
    Here we pass the title of the to-do list from home.html to this function. The first line sets the name of the home state, 'home', on the $rootScope so that we can reference this state in order to have a back button from the list.html page. $rootScope is a scope that is globally available in an Angular app. Properties of a $scope object can only be referenced inside the controller they were created in, but if you put something on $rootScope it can be accessed from any controller that you inject the $rootScope service into. Here we are using $rootScope to store the name of the home state so that we can redirect back to here from the other webpage of this app by clicking list.html's back button. The second line of code passes the title as an parameter through the angular router in order to display the list’s data in the list.html view. $location.path allows us to set a url for the app to route to. The router.js file contains a line that says:
  </p>

  <div class="sub-section">
    <em>url: '/list/:title', …</em>
  </div>

  <p>
    The :title is how you pass a parameter through the router to another view. Anytime you have a ‘/:parameter’ as the url, whatever string is passed in the parameter’s place in the url path can be retrieved through the $stateParams service in the controller. The $stateParams service comes from the UI-Router. Notice we don’t include the colon in the actual url path, the colon is just used in the routing section to signify an parameter goes there.
  </p>

  <p>
    The last thing we need to set up for home.html is make the button work to delete a to-do list. In home.html add an ng-click directive to the final button like this:
  </p>

  <pre><code class="language-markup">
&ltbutton type="button" id="deleteList" ng-click="deleteList(key)">x&lt/button>
  </code></pre>

  <p>
    Then in homeController.js we will define the deleteList() function like this:
  </p>

  <pre><code class="language-javascript">
$scope.deleteList = function(title) {
  delete $scope.lists[title];
  ListService.saveList($scope.lists);
}
  </code></pre>

  <p>
    The delete keyword is what is used to delete a key-value pair from an object in JavaScript. So this simply deletes the list whose delete button the user clicked, specifying the key by the value of the title. Then we just save the updated list to the object in our custom service.
  </p>

  <h2> Controller Logic for list.html </h2>

  <p>
    Now we need to finish our app by handling user actions in the list.html view, which is the view that shows an individual to-do list that the user has chosen to view. In this view the user can add items to the list and delete items, just like in the home.html file. For this we will be coding the ‘eachTodo’ controller in listController.js.
  </p>

  <p>
    First we write this line of code again as the first line in the controller in order to set the focus of the cursor on the textbox.
  </p>

  <pre><code class="language-javascript">
document.getElementsByTagName("input")[0].focus();
  </code></pre>

  <p>
    Since we sent a string parameter to the list.html view through the Angular router lets first assign that value to a variable on the $scope object so that we can access it in the view. We also need to bring in all the data from the Service and save it into $scope.lists in this controller so we have access to our data. The first two lines of our 'eachTodo' controller are:
  </p>

  <pre><code class="language-javascript">
$scope.listTitle = $stateParams.title;
$scope.lists = ListService.getList();
  </code></pre>

  <p>
    We named our parameter in the router :title so here we access it through the $stateParams service with $stateParams.title. Now that we have the title lets go into list.html and at the top of the file write this line of text to display the title in all uppercase letters and include a back button using a font-awesome icon. Notice we are also including an ng-click on this button:
  </p>

  <pre><code class="language-markup">
&lth1> &lti class="fa fa-arrow-left backButton" ng-click='goBack()'>&lt/i> {{ listTitle.toUpperCase() }}&lt/h1>
  </code></pre>

  <p>
    Now let's create that goBack() property of the $scope object in our 'eachTodo' controller so that when we click this button we will go back to the home page of the app.
  </p>

  <pre><code class="language-javascript">
$scope.goBack = function() {
  $state.go($rootScope.home);
};
  </code></pre>

  <p>
    This rest will be very similar to what we just did in the home.html view. Add an ng-model directive to the input box so that through Angular we can in real-time access whatever the user types in. Additionally, we will add an ng-click directive to the button that adds items to the list, calling a function createItem() which we will make in the controller to actually add the item to the list. Edit these two lines in list.html to now look like this:
  </p>

  <pre><code class="language-markup">
&ltinput type="text" id="todoItem" class="inputs" ng-model="item" placeholder="Add an Item">
&ltbutton class="inputButton" ng-click="createItem()"> + &lt/button>
  </code></pre>

  <p>
    Now let’s go back to listController.js to make that createItem() function. In the controller type this:
  </p>

  <pre><code class="language-javascript">
$scope.createItem = function() {
  var alreadyExists = false;
  for (i in $scope.lists[$scope.listTitle]) {
    if ($scope.lists[$scope.listTitle][i] === $scope.item)
      alreadyExists = true;
  }
  if (!alreadyExists)
    $scope.lists[$scope.listTitle].push($scope.item);
  $scope.item= "";
  document.getElementById("todoItem").focus();
}
  </code></pre>

  <p>
    This function creates a flag to set whether or not what the user types in ($scope.listTitle) is already in the list. It does this by looping through everything already in the list, checking everything against the current item, and if it doesn’t exist then it is added to the list. The input box is then cleared and focus is returned to it.
  </p>

  <p>
    Back in list.html we need to use the ng-repeat directive in the &ltli> tag in order to show a list of all the items in the to-do list. We show the items the user has added by adding {{ item }} to the span tag in the list item. Finally we will add an ng-click directive to the delete button and fill out its logic into the controller to allow the user to delete items in each to-do list, thus finishing our app. Edit the code in list.html to look like this:
  </p>

  <pre><code class="language-markup">
&ltli ng-repeat="item in lists[listTitle]">
  &ltspan class="item"> {{ item }} &lt/span>
  &ltbutton ng-click="deleteItem(item)">x&lt/button>
&lt/li>
  </code></pre>

  <p>
    This loops through each item in the array of the key-value pair identified by the $scope.listTitle key we defined, and each element of the array is referred to by “item”. In the span tag we then display each of these items in the list with {{ item }}. We then pass each item to deleteItem() through the ng-click directive. Let’s now make the logic for this function in listController.js:
  </p>

  <pre><code class="language-javascript">
$scope.deleteItem = function(item) {
  var currentList = $scope.lists[$scope.listTitle];
  currentList.splice(currentList.indexOf(item), 1);
  ListService.saveList($scope.lists);
}
  </code></pre>

  <p>
    The first line of this function we are declaring a new variable called currentList to hold the array held in $scope.lists[$scope.listTitle] just so that the next line isn’t super long. The second line uses JavaScript's array splice to delete one item from the current to-do list, which it finds by getting the index of the item the user decided to delete. The final line saves our updated data object that stores all the user’s to-do lists to the service’s list object.
  </p>

  <p>
    Because we are not using a database to really store the user’s to-do lists anytime you refresh the page all the lists will be deleted. So to move from the list.html view back to the home.html view just hit the back button on the browser and all the data will still be there in its updated form.
  </p>

  <p>
    The to-do list app is now done. Test it out!
  </p>


  <script src="prism.js"></script>
</body>
</html>
